# MongoDB URI for AI-IDS Logging and Dashboard
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/IDS?retryWrites=true&w=majority

# Frontend API Base URL (Used by Vite during build/dev)
VITE_API_BASE=http://localhost:5005/api
